:root {
    --intro: 100px;
    --work1: 480px;
    --work1sub: 1280px;
    --work2: 1540px;
    --worksub2: 2340px;
    --work3: 2600px;
    --worksub3: 3400px;
    --work4: 3660px;
    --worksub4: 4460px;
    --bottom: 4800px;
}

.nav {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    width: 300px;
    height: 97px;
    position: absolute;
    top: 0;
    left: 30px;
}

.logo a {
    text-decoration: none;
    color: black;
}

#name {
    font: bold 30px Arial, sans-serif;
}

.menu {
    width: 400px;
    height: 97px;
    position: absolute;
    top: 0;
    right: 30px;
    text-align: right;
}

.menu p {
    margin: 40px 0px 0px 30px;
    display: inline-block;
    font: 18px Arial, sans-serif;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    border-bottom: solid 1px black
}

#contactme {
    color: white;
    background-color: black;
    padding: 20px 35px;
}

#contactme:hover {
    background-color: #222222;
}

.intro {
    width: 100%;
    height: 380px;
    position: absolute;
    top: var(--intro);
    left: 0px;
}

.intro p {
    width: 80%;
    margin: auto;
    padding: 100px 50px 0 50px;
    font:  50px Arial, sans-serif;
}

.work {
    width: 100%;
    height: 800px;
    position: absolute;
    top: var(--work1);
}

.img {
    height: 700px;
    margin: 50px;
    background-color: #f1f1f1;
}

.img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (min-width: 1440px) {
    .img img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}


.worksub {
    width: 100%;
    height: 260px;
    position: absolute;
    top: var(--work1sub);
}

.worksub-cont {
    width: 70%;
    display: inline-block;
}

.worksub-cont p1 {
    margin: 0 0 0 50px;
    font:  bold 40px Arial, sans-serif;
}

.worksub-cont p {
    margin: 20px 0 0 50px;
    font: 18px Arial, sans-serif;
}

.worksub-button {
    height: 200px;
    margin: 40px 50px 0 0;
    position: absolute;
    top: 20px;
    right: 0px;
}

.worksub-button a {
    text-align: center;
    text-decoration: none;
    font: bold 18px Arial, sans-serif;
    padding: 20px 50px;
    color: white;
    background-color: black;
    cursor: pointer;
    left: 0px;
}

.worksub-button a:hover {
    background-color: #222222;
}

.work2 {
    width: 100%;
    height: 800px;
    position: absolute;
    top: var(--work2);
}

.worksub2 {
    width: 100%;
    height: 260px;
    position: absolute;
    top: var(--worksub2);
}

.work3 {
    width: 100%;
    height: 800px;
    position: absolute;
    top: var(--work3);
}

.worksub3 {
    width: 100%;
    height: 260px;
    position: absolute;
    top: var(--worksub3);
}

.work4 {
    width: 100%;
    height: 800px;
    position: absolute;
    top: var(--work4);
}

.worksub4 {
    width: 100%;
    height: 260px;
    position: absolute;
    top: var(--worksub4);
}

.bottom {
    width: 100%;
    height: 260px;
    position: absolute;
    top: var(--bottom);
    left: 0px;
    background-color: #ebebeb;
}

.contact {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 50px;
}

.contact p1 {
    font:  bold 30px Arial, sans-serif;
}

.contact p {
    font: 18px Arial, sans-serif;
}

.projects {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50px;
    right: 50px;
    text-align: right;
}

.projects p1 {
    font:  bold 30px Arial, sans-serif;
}

.projects p {
    font: 18px Arial, sans-serif;
}

.projects a {
    text-decoration: none;
    color: black;
}

.projects a:hover {
    border-bottom: solid 1px black
}
