html {
   background-color: #222;
}

#month {
   position: relative;
   top: 100px;
   width: 1280px;
   background-color: #999;
   margin: auto;
}

.month {
   font-size: 60px;
   color: #777;
}

.month:nth-child(1) {
   position: absolute;
   color: #777777;
}

.month:nth-child(2) {
   position: absolute;
   left: 170px;
   color: #777777;
}

.month:nth-child(3) {
   position: absolute;
   left: 330px;
   color: #777777;
}

.month:nth-child(4) {
   position: absolute;
   left: 500px;
   color: #777777;
}

.month:nth-child(5) {
   position: absolute;
   top: 70px;
}

.month:nth-child(6) {
   position: absolute;
   top: 70px;
   left: 170px;
}

.month:nth-child(7) {
   position: absolute;
   top: 70px;
   left: 330px;
}

.month:nth-child(8) {
   position: absolute;
   top: 70px;
   left: 500px;
}

.month:nth-child(9) {
   position: absolute;
   top: 140px;
}

.month:nth-child(10) {
   position: absolute;
   top: 140px;
   left: 170px;
}

.month:nth-child(11) {
   position: absolute;
   top: 140px;
   left: 330px;
}

.month:nth-child(12) {
   position: absolute;
   top: 140px;
   left: 500px;
}

#date {
   position: relative;
   top: 100px;
   width: 1280px;
   margin: auto;
}

.date {
   position: absolute;
   font-size: 43px;
   color: #777;
}

.date:nth-child(n) {
   top: 5px;;
}

.date:nth-child(n+9) {
   top: 55px;;
}

.date:nth-child(n+17) {
   top: 105px;;
}

.date:nth-child(n+25) {
   top: 155px;;
}

.date:nth-child(8n+1) {
   left: 680px;
}

.date:nth-child(8n+2) {
   left: 760px;
}

.date:nth-child(8n+3) {
   left: 840px;
}

.date:nth-child(8n+4) {
   left: 920px;
}

.date:nth-child(8n+5) {
   left: 1000px;
}

.date:nth-child(8n+6) {
   left: 1080px;
}

.date:nth-child(8n+7) {
   left: 1160px;
}

.date:nth-child(8n+8) {
   left: 1240px;
}

#hour {
   position: relative;
   top: 300px;
   width: 1280px;
   margin: auto;
}

.hour {
   position: absolute;
   font-size: 80px;
   color: #777;
}

.hour:nth-child(1) {
   font-size: 100px;
}

.hour:nth-child(2) {
   left: 215px;
   font-size: 100px;
}

.hour:nth-child(3) {
   left: 425px;
   font-size: 100px;
}

.hour:nth-child(4) {
   left: 710px;
   font-size: 100px;
}

.hour:nth-child(5) {
   left: 940px;
   font-size: 100px;
}

.hour:nth-child(6) {
   left: 1145px;
   font-size: 100px;
}

.hour:nth-child(7) {
   top: 100px;
}

.hour:nth-child(8) {
   left: 250px;
   top: 100px;
}

.hour:nth-child(9) {
   left: 455px;
   top: 100px;
}

.hour:nth-child(10) {
   left: 630px;
   top: 100px;
}

.hour:nth-child(11) {
   left: 780px;
   top: 100px;
}

.hour:nth-child(12) {
   left: 1040px;
   top: 100px;
}

#minute {
   position: relative;
   top: 490px;
   width: 1280px;
   margin: auto;
}

.minute {
   position: absolute;
   font-size: 45px;
   color: #777;
}

.minute:nth-child(n) {
   top: px;;
}

.minute:nth-child(n+21) {
   top: 60px;;
}

.minute:nth-child(n+41) {
   top: 120px;;
}

.minute:nth-child(20n+1) {
   left: 0px;
}

.minute:nth-child(20n+2) {
   left: 65px;
}

.minute:nth-child(20n+3) {
   left: 130px;
}

.minute:nth-child(20n+4) {
   left: 195px;
}

.minute:nth-child(20n+5) {
   left: 260px;
}

.minute:nth-child(20n+6) {
   left: 325px;
}

.minute:nth-child(20n+7) {
   left: 390px;
}

.minute:nth-child(20n+8) {
   left: 455px;
}

.minute:nth-child(20n+9) {
   left: 520px;
}

.minute:nth-child(20n+10) {
   left: 585px;
}

.minute:nth-child(20n+11) {
   left: 650px;
}

.minute:nth-child(20n+12) {
   left: 715px;
}

.minute:nth-child(20n+13) {
   left: 780px;
}

.minute:nth-child(20n+14) {
   left: 846px;
}

.minute:nth-child(20n+15) {
   left: 910px;
}

.minute:nth-child(20n+16) {
   left: 975px;
}

.minute:nth-child(20n+17) {
   left: 1040px;
}

.minute:nth-child(20n+18) {
   left: 1105px;
}

.minute:nth-child(20n+19) {
   left: 1170px;
}

.minute:nth-child(20n+20) {
   left: 1235px;
}

#second {
   position: relative;
   top: 670px;
   width: 1280px;
   margin: auto;
}

.second {
   position: absolute;
   font-size: 32px;
   color: #777;
}

.second:nth-child(n) {
   top: px;;
}

.second:nth-child(n+31) {
   top: 45px;;
}

.second:nth-child(30n+1) {
   left: 0px;
}

.second:nth-child(30n+2) {
   left: 43px;
}

.second:nth-child(30n+3) {
   left: 86px;
}

.second:nth-child(30n+4) {
   left: 129px;
}

.second:nth-child(30n+5) {
   left: 172px;
}

.second:nth-child(30n+6) {
   left: 215px;
}

.second:nth-child(30n+7) {
   left: 258px;
}

.second:nth-child(30n+8) {
   left: 301px;
}

.second:nth-child(30n+9) {
   left: 344px;
}

.second:nth-child(30n+10) {
   left: 387px;
}

.second:nth-child(30n+11) {
   left: 430px;
}

.second:nth-child(30n+12) {
   left: 473px;
}

.second:nth-child(30n+13) {
   left: 516px;
}

.second:nth-child(30n+14) {
   left: 559px;
}

.second:nth-child(30n+15) {
   left: 602px;
}

.second:nth-child(30n+16) {
   left: 645px;
}

.second:nth-child(30n+17) {
   left: 688px;
}

.second:nth-child(30n+18) {
   left: 731px;
}

.second:nth-child(30n+19) {
   left: 774px;
}

.second:nth-child(30n+20) {
   left: 817px;
}

.second:nth-child(30n+21) {
   left: 860px;
}

.second:nth-child(30n+22) {
   left: 903px;
}

.second:nth-child(30n+23) {
   left: 946px;
}

.second:nth-child(30n+24) {
   left: 989px;
}

.second:nth-child(30n+25) {
   left: 1032px;
}

.second:nth-child(30n+26) {
   left: 1075px;
}

.second:nth-child(30n+27) {
   left: 1120px;
}

.second:nth-child(30n+28) {
   left: 1161px;
}

.second:nth-child(30n+29) {
   left: 1204px;
}

.second:nth-child(30n+30) {
   left: 1247px;
}


.current {
   color: white !important;
}
